{% extends 'myblog/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'myblog/css/register_page.css' %}" >
{% endblock %}

{% block content %}


<div class="row">
      <div class="col-sm-4 ">
        <div class="register_block">
        <a style="text-decoration:none" href="/myblog/login"><p> myblog </p></a>
        <br>
        <form action="/myblog/register" method="post">
          {% for registrationfield in registrationform %}
            {{registrationfield}}
            {{registrationfield.errors}}<br>
          {% endfor %}
          <input type="submit" value="Register">
          {% csrf_token %}
        </form>
        <br>
        {% for error in registrationform.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
        </div>
      </div>
</div>


{% endblock %}
